.user-settings-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 20% 0 20%;
  gap: 1rem;
  input {
    padding-left: 5px;
    height: 50px;
    border-radius: 5px;
    border: none;
  }
  .accept-modifications {
    margin-top: 30px;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
  }
}
.info-parameters {
  .return-btn {
    border: none;
    background: none;
  }
}
