@font-face {
  font-family: "Aleo";
  src: url("./fonts/Aleo.ttf");
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}
* {
  color: black;
  margin: 0;
  font-family: "Aleo";
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  // background: rgba(187, 116, 190, 0.913);
}

body {
  height: 100vh;
  #root {
    .recipe-body-container {
      ul {
        min-height: 400px;
      }
      .stepper {
        .stepper-step {
          .stepper-head {
            .stepper-head-icon {
              background-color: #97bf0d;
            }
            .stepper-head-text {
              color: black;
            }
          }
          .stepper-content {
            span {
              overflow: visible;
            }
          }
          &.stepper-active {
            .stepper-head-icon {
              background-color: #d56c06;
            }
          }
        }
      }
    }
  }
}
