@import "./settings";
@import "./components/homePage/navbar";
@import "./components/homePage/filter";
@import "./components/homePage/slides";
@import "./components/homePage/SlideOneBest";
@import "./components/homePage/containeruser";
@import "./components/homePage/likeIcon";
@import "./components/homePage/loginPage";
@import "./components/ingredients-list";
@import "./components/homePage/_searchedRecipes.scss";
@import "./components/adminPage/adminPage.scss";
@import "./components/userPage/userRecipesList";
