@import "./settings";
@import "./components/homePage/navbar";
@import "./components/homePage/filter";
@import "./components/homePage/slides";
@import "./components/slidePresentation/slidePresentattion";
