@import "./components/RecipePage/recipeHeader";

* {
  background-color: #ece8da;
}
.recipe-title {
  font-size: 20px;
  padding: 0.2rem 0;
}

.recipe-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  height: 20vh;
  background-color: lightgray;
}
.recipe-body-container {
  flex-flow: column;
  margin: 0 15px;

  .rate-nutri-container {
    min-width: 100%;
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;

    .rate-container {
      display: flex;
      gap: 18px;

      .stars {
        display: flex;
        gap: 5px;
      }
    }
  }

  .time-difficulty-container {
    display: flex;
    justify-content: space-between;
    margin: 10px 25%;

    .prep-time-container {
      flex-flow: column;
      justify-content: center;
      .difficulty {
        text-align: center;
      }
    }
    .difficulty-container {
      flex-flow: column;
      justify-content: center;
      .prep-time {
        text-align: center;
      }
    }
  }

  .all-ingredients-container {
    margin: 10px 15%;

    .ingredients-title-pdf-container {
      display: flex;
      justify-content: space-between;

      .ingredients-title {
        font-size: 1.2rem;
        padding: 0.5rem 0;
      }
      .printer-img-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .people-number-selection {
      display: flex;

      .people-number {
        padding: 0 20px;
      }
    }

    .ingredient-container {
      display: flex;
      justify-content: space-between;
      padding: 0.2rem 0;

      .ingred-qtty-mesure-container {
        display: flex;
        gap: 2px;
      }
    }
  }

  .all-steps-container {
    margin: 10px 15%;

    .steps-title-pdf-container {
      display: flex;
      justify-content: space-between;

      .steps-title {
        font-size: 1.2rem;
        padding: 0.5rem 0;
      }
      .printer-img-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .step-container {
      padding-bottom: 1rem;
    }
  }

  .leave-comments-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .leave-comments-picture-area {
      display: flex;
      justify-content: center;
    }
  }
  .leave-comment-notes-area {
    &.inactive {
      display: none;
    }
    .comment-area {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .comment-notes-area-footer {
      display: flex;
      justify-content: center;
    }
  }

  .comments-bloc {
    &.inactive {
      display: none;
    }
  }
}
