.option-menu-box {
  position: absolute;
  border-radius: 5px;
  top: 85px;
  right: -200px;
  min-height: 120px;
  transition: all 0.2s ease-in-out;
  background: black;
  z-index: 2;

  &.visible {
    position: absolute;
    top: 150px;
    right: 0px;
    min-height: 120px;
    width: 180px;
    background: rgba(0, 0, 0, 0.837);
    // background-color: white;
    transition: all 0.2s ease-in-out;
  }
  .option-menu-list {
    height: 100%;
    list-style: none;
    padding-inline-start: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: relative;
    z-index: 2;
    border-radius: 5px;

    .option-menu-line {
      margin-top: 10px;
      // padding-left: 5px;
      min-width: 100%;
      color: white;
    }
  }
}

.container-pfp {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70%;
}

.file-hidden {
  display: none;
}

.user-pfp {
  margin: 20px 0;
  padding: 5px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 3px solid black;
  background-size: cover;
  background-position: center;
}

.hide-confirm-button {
  display: none;
}

.avatar-btn {
  border: none;
  margin-top: 5px;
  color: white;
  background: none;
}

.hidden {
  display: none;
}
