@import "./favoriteRecipesList";
@import "./optionsMenu";

.userPage-header {
  max-width: 100%;
}

.info-parameters {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

.back-arrow {
  background-color: #ece8da;
  border: none;
}

.pfp {
  width: 5rem;
  border-radius: 50%;
}

.option-menu-btn {
  background-color: #ece8da;
  border: none;
}

.evals-recipes {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
}

.recipes-favs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid black;
}

.mes-recettes,
.coups-de-coeur {
  border: none;
  background-color: rgba($color: #00000000, $alpha: 0);
}

.mes-recettes {
  color: #d56c06;
}

.coups-de-coeur {
  color: #97bf0d;
}

.flowerFiltre {
  z-index: 111;
}

.user-recipe-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
}

.delete-btn {
  width: 2rem;
  border-radius: 50%;
  border: none;
  background: none;
}

.publication-date {
  display: flex;
  justify-content: space-between;
}

.recipe-container-show {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 1rem;
  padding: 1rem;
  border-radius: 20px;
}
