.difficulties-container {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  .difficulty-button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    border-radius: 25px;
    background-color: #ece8da;
    padding: 15px 20px;

    &.clicked {
      background: #d56c06;
      border: none;
      border-width: 1.8px;
    }
  }
}
.tags {
  margin: 20px 0;
  .tags-container {
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    .filter-button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 1.5rem;
      border-radius: 25px;
      background-color: #ece8da;

      &.clicked {
        border-color: #d56c06;
        border-width: 1.8px;
      }
    }
  }
}
