.logo-slide {
  position: absolute;

  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 111;
}

#slide-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  color: white;
  text-align: center;
  font-size: 1.5rem;
}
#btn-access {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  background: #d56c06;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 15px;
  color: white;
  border: none;
}
#btn-register {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 300%);
  background: #d56c06;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 25px;
  color: white;
  border: none;
}
