.logo-slide {
  position: absolute;

  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 111;
}

#slide-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  color: white;
  text-align: center;
  font-size: 1.5rem;
}
#btn-access {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  background: rgb(200, 136, 17);
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 15px;
}
#btn-register {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 300%);
  background: rgb(175, 124, 29);
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 25px;
}
