.box-login {
  position: absolute;
  padding: 5px;
  left: 20%;
  top: 111px;
  background: white;
  max-width: 15%;
  height: 100px;
  @include center;
  flex-direction: column;
  border-radius: 5px;
  li {
    margin-top: 10px;
    color: black;
  }
}
@media screen and (max-width: 1000px) {
  .box-login {
    left: 20%;

    li {
      font-size: 0.8rem;
      text-align: center;
    }
  }
}
@media screen and (max-width: 500px) {
  #login-box {
    left: 0;
    padding: 0 50px;
    font-size: 0.8rem;
    text-align: center;

    button {
      background-color: white;
      border: none;
    }
  }
}
