.container-filter {
  max-width: 100%;
  margin: 10px 20%;
  display: flex;

  .scroll-bar {
    display: flex;
    width: 100%;
    max-height: 50px;
    overflow-x: auto;

    .button-filter {
      text-align: center;
      padding: 5px 10px;
      font-size: 0.8rem;
      width: 20%;
      min-width: 200px;

      &.active {
        background: black;
        color: #fff;
      }
    }
  }
}
.boxFilter {
  margin: 10px 20%;
  border: none;
  background: none;

  img {
    border: none;
    background: none;
  }
}

.container-filter-page {
  left: 20%;
  right: 20%;
  position: absolute;
  height: 100vh;
  background: #fff;

  .flowerFiltre {
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100vh;
  }
  h1 {
    font-size: 1.3rem;
  }
  .container-filter-main {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 33% 33% 33%;
    .particularity-container {
      grid-column: 3;
      z-index: 111;
    }
    .meal-container {
      grid-column: 2;
      grid-row: 2;
      z-index: 111;
    }
    .style-container {
      grid-column: 1;
      grid-row: 3;
      z-index: 111;
    }

    .particularity-container,
    .meal-container,
    .style-container {
      min-width: 150px;
      min-height: 200px;
      text-align: center;
      line-height: 25px;
      display: flex;
      flex-direction: column;

      .button-filter-page {
        border: none;
        background: none;
      }
    }
  }
}

.switch {
  width: 160px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: flex-start;
  border-radius: 50px;
  padding: 10px;
  cursor: pointer;
}

.switch[data-isOn="true"] {
  justify-content: flex-end;
}

.handle {
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 40px;
}
