body {
  margin-top: 0;
  background-color: #ece8da;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-container {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 1;
  position: absolute;
  margin-bottom: 7rem;
}

.cookies {
  width: 100%;
}

.login-container {
  display: flex;
  flex-direction: column;
  margin: 4rem 4rem 0 4rem;
}

.input {
  padding: 0.2rem 0;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

input {
  border: none;
  border-radius: 15px;
  padding: 0.3rem;
  width: 100%;
}

.submit {
  display: flex;
  justify-content: center;
}

button {
  margin-top: 0.2rem;
  width: 6rem;
  border-radius: 20px;
  border: none;
  background-color: #d56c06;
  color: white;
  padding: 0.2rem;
}

.not-connected {
  display: flex;
  flex-direction: column;
  margin: 4rem 0 1rem 0;
  font-size: 12px;
  justify-content: center;
  align-items: center;
}

.not-member {
  margin-top: 1rem;
}

.lost-password {
  margin-bottom: 0.2rem;
}

p {
  font-size: 12px;
  text-decoration: underline;
  color: #d56c06;
}

span {
  color: blue;
}

.link {
  text-decoration: none;
}
