.slideOne-container {
  margin: 0 20%;
  display: flex;
  min-height: 300px;
  max-width: 100%;
  gap: 20px;
  .card-container {
    max-width: 100%;
    max-height: 600px;
    img {
      width: 330px;
      height: 300px;
      border-radius: 10px;
    }
    .content-container {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      h1 {
        font-size: 1.2rem;
      }
    }
  }
}
