.slide-one-container {
  margin: 0 20%;
  display: flex;
  min-height: 300px;
  max-width: 100%;
  gap: 20px;
  .slide-best-one-container {
    min-height: 400px;
    .card-container {
      text-align: center;
      min-width: 200px;
      max-height: 500px;

      .content-container {
        min-height: 150px;
        background: black;
        border-radius: 20px 20px 0 0;
        color: rgb(165, 147, 147);
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
          font-size: 1.3rem;
          background: transparent;
        }
        .note-container {
          display: flex;
          align-items: center;
          .star-picture {
            width: 15px;
            height: 15px;
          }
          .average {
            background: transparent;
            margin-left: 10px;
            font-size: 1rem;
          }
        }
        .votes-container {
          #votes-content {
            font-size: 0.8rem;
          }
        }
      }
      .content-container-picture {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 150px;
        overflow: hidden;
        background-color: black;
      }
      img {
        width: auto;
        height: 100%;
      }
    }
    .container-icon-recipe {
      min-height: 80px;
      border-radius: 0 0 20px 20px;
      background: black;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 450px) {
  .slide-one-container {
    .slide-one-container .card-container {
      max-width: 250px;
      height: 250px;
      overflow: auto;
      gap: 20px;
      .slide-one-container .card-container img {
        width: 100%;
        height: 250px;
        border-radius: 10px;
      }
    }
  }
}
