@import "../../styles/components/newRecipe/dificultyList";
@import "../../styles/components/newRecipe/preparationTime";

#root {
  min-height: 100vh;
}
.add-remove-button {
  margin-top: 10px;
  border: none;
  line-height: 10px;
  padding: 0.2rem;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.recipe-part {
  margin-top: 20px;

  &.step3 {
    margin-bottom: 0px;
  }
}

.recipe-step {
  margin: 20px 0 0 0;
  .textarea-btn {
    .delete-button {
      border-radius: 5px;

      padding: 5px 15px;
    }
  }
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.new-recipe-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .new-recipe-image-container {
    display: flex;
    justify-content: center;
    .new-recipe-image {
      width: 80%;
    }
  }
  .new-recipe-form-input {
    margin: 0 auto;
    display: flex;

    // .new-recipe-title {
    //   text-align: center;
    //   min-width: 50%;
    //   border-radius: 5px;
    //   border: transparent;
    // }
  }
  .file-upload-input {
    background-size: cover;
    background-position: center;
    object-fit: cover;
    left: 20px;
    right: 20px;
  }
  .persons-minutes {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-around;
    .label-container {
      max-width: 50%;
      .title-persons-number {
        font-size: 1rem;
        font-weight: 500;
      }
      .people-number-selection {
        display: flex;
        justify-content: center;
        .people-number {
          padding: 1px 10px;
        }
        button {
          margin: 0 10px;
          border: none;
          line-height: 10px;
          padding: 0.2rem;
          border-radius: 50%;
          width: 25px;
          height: 25px;
          // background-color: #ece8da;
        }
      }
    }
  }
  .new-ingredients-container {
    height: 100%;
    .ingredients-list {
      .ingredient-line {
        width: 100%;
        margin: 10px 0 0 0;
        display: flex;
        justify-content: space-between;
        max-height: 40px;
      }
      .ingredient-line-name {
        min-width: 50%;
        padding-left: 5px;
        font-size: 0.75rem;
        font-weight: bolder;
        display: flex;
        align-items: center;
      }
      .quantity_unite-area {
        display: flex;
        max-height: 40px;
        .quantity_unite-contaire {
          min-width: 50%;
          display: flex;
          justify-content: end;
          .ingredient-line-quantity {
            border: none;
            text-align: end;
            width: 40%;
            background: rgba(255, 255, 255, 0.354);
          }
        }
        .ingredient-line-unite {
          max-width: 20%;
          margin-right: 20px;
          background: transparent;
          border: none;
          text-align: center;
        }
      }
      .btn-clear-ingred {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 40px;
        height: 40px;
        .remove-button-ingred {
          border: 1px solid balck;
          min-width: 35px;
          height: 35px;
          border-radius: 50%;
          padding-bottom: 3px;
          font-weight: bold;
        }
      }
    }
  }

  .send-recipe-btn-container {
    display: flex;
    justify-content: center;
    max-width: 30%;

    .send-recipe-btn {
      border-radius: 5px;
      padding: 5px 15px;
    }
  }
  .mx-2-container {
    .mx-2 {
      margin-top: 20px;
    }
  }
  .send-recipe-btn-container {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 10px;

    .send-recipe-btn {
      border-radius: 5px;
      padding: 5px 15px;
      margin-top: 20px;
    }
  }
}
.recipe-step-title {
  margin-top: 20px;
  color: #d56c06;
}
