@import "../../styles/components/newRecipe/dificultyList";
@import "../../styles/components/newRecipe/preparationTime";

#root {
  min-height: 100vh;
}
.add-remove-button {
  line-height: 10px;
  padding: 0.2rem;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.recipe-part {
  margin-top: 20px;

  &.step3 {
    margin-bottom: 0px;
  }
}

.recipe-step {
  margin-top: 15px;

  .delete-button {
    border-radius: 50px;
  }
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.new-recipe-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .new-recipe-image-container {
    display: flex;
    justify-content: center;
    .new-recipe-image {
      width: 80%;
    }
  }
  .new-recipe-title {
    text-align: center;
  }
  .people-number-selection {
    display: flex;

    .people-number {
      padding: 1px 10px;
    }
    button {
      line-height: 10px;
      padding: 0.2rem;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      // background-color: #ece8da;
    }
  }
  .new-ingredients-container {
    height: 100%;
    .ingredients-list {
      .ingredient-line {
        width: 75%;
        margin: 10px 0 0 0;
        display: flex;
        justify-content: space-between;
      }
      .ingredient-line-quantity {
        width: 4rem;
      }

      .ingredient-line-unite {
        width: 3rem;
        margin-left: 5px;
      } /* Firefox */
    }
  }
  .send-recipe-btn {
    border-radius: 50px;
  }
}
