@import "../../styles/components/newRecipe/dificultyList";
@import "../../styles/components/newRecipe/preparationTime";

#root {
  min-height: 100vh;
}
.add-remove-button {
  margin-top: 10px;
  border: none;
  line-height: 10px;
  padding: 0.2rem;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.recipe-part {
  margin-top: 20px;

  &.step3 {
    margin-bottom: 0px;
  }
}

.recipe-step {
  margin: 20px 0 0 0;
  .textarea-btn {
    .delete-button {
      border-radius: 5px;

      padding: 5px 15px;

    }
  }
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.new-recipe-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .new-recipe-image-container {
    display: flex;
    justify-content: center;
    .new-recipe-image {
      width: 80%;
    }
  }
  .new-recipe-form-input {
    margin: 0 0 20px 0;
    display: flex;
    justify-content: center;
    .new-recipe-title {
      text-align: center;
      min-width: 50%;
      border-radius: 5px;
      border: transparent;
    }
  }
  .file-upload-input {
    background-size: cover;
    background-position: center;
    object-fit: cover;
    left: 20px;
    right: 20px;
  }
  .persons-minutes {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-around;
    .label-container {
      max-width: 50%;
      .title-persons-number {
        font-size: 1rem;
        font-weight: 500;
      }
      .people-number-selection {
        display: flex;
        justify-content: center;
        .people-number {
          padding: 1px 10px;
        }
        button {
          margin: 0 10px;
          border: none;
          line-height: 10px;
          padding: 0.2rem;
          border-radius: 50%;
          width: 25px;
          height: 25px;
          // background-color: #ece8da;
        }
      }
    }
    .prepTime-Container {
    }
  }
  .new-ingredients-container {
    height: 100%;
    .ingredients-list {
      .ingredient-line {
        width: 75%;
        margin: 10px 0 0 0;
        display: flex;
        justify-content: space-between;
      }
      .ingredient-line-quantity {
        width: 50%;
      }

      .ingredient-line-unite {
        width: 3rem;
        margin-left: 5px;
      } /* Firefox */
    }
  }

  .send-recipe-btn-container {
    display: flex;
    justify-content: center;
    .send-recipe-btn {
      border-radius: 5px;
      padding: 5px 15px;
    }

  .send-recipe-btn {
    border-radius: 5px;

  }
}
